@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    height: 400px;
    display: flex;
    background-color: #e1e1e1;
    justify-content: space-between;
    align-items: center;
}

.item {
    width: 100px;
    height: 100px;
    background: #254de4;
    margin: 10px;
    color: #fff;
}

.item:nth-of-type(1) {
    align-self: start;
}

.item:nth-of-type(2) {
    align-self: center;
}

.item:nth-of-type(3) {
    align-self: end;
}